/* ---------------  GLOBAL CONFIG -----------------  */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}


body{
   height: 100%;
}


/* ---------------  HOME PAGE CSS  -----------------  */

.main-home-container{
   height: 100vh;
   width: 100%;
   background-color: black;
}

/*  %  - unidades responsivas para las imagenes */
.imagen-background {
   width: 100%;
   height: 90vh;
   background-image: url("../image/base-index.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.nav-container{
   padding-top: 100px;
   padding-right: 4rem;
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
    /*border: 1px solid white; */
}

.main-container{
max-width: 65vw;
margin: 0 auto; 
}


.logo {
   color: #ffffff;
   font-size: 5rem!important;
   font-family: "Inter", sans-serif;
   /* Asegúrarse de cargar la fuente */
   text-shadow: 14px 4px 10px grey;
   font-weight: 700;
   word-wrap: break-word;
   margin-left: 150px;   
   /* border: 1px solid white*/;

}

.div-video-intro {display: flex;
   justify-content: end;
   margin-left: 4rem;
   /*border: 1px solid white;*/;
}

.video-intro {
   max-width: 100%;
   height: auto;
}


.navbar {
   border: 1px solid white;
}


.flex-nav {
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: end;
   gap: 6;
   /*border: 5px solid white;*/
   margin-right: 50px;
   text-shadow: 4px 4px 10px grey;

}

/* Para sacar las vinetas siempre se realiza desde el li - */
.nav-list {
   list-style: none;
   margin-right: 7.5rem;
}

/*Rem o em para unidades responsivas para los textos 1 rem equivale a 16px*/
.nav-link {
   font-size: 4rem;
   text-decoration: none;
   color: #f2f2f2;
   text-shadow: 2px 2px 5px 10px rgb(182, 182, 182);
}

.suscribite-ahora{
   background-color:rgb(42, 42, 42); /* Grey */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}

.social-container {
   margin-left: 50px;
   
}

.social-container img {
   background-color: black;
}

.footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
   color: white;
   background-color: black !important;
   /*border: 1px solid white;*/
}



/* ---------------  FOTOS PAGE SECTION -----------------  */

.logo-nav-link a{
   text-decoration: none;
}


.logo2 {
   border: 1px solid black;
   margin-left: 2rem;
   color: black;
   font-size: 34px;
   font-family: "Inter", sans-serif;
   /* Asegúrarse de cargar la fuente NO OLVIDAR */
   font-weight: 700;
   height: 100%;
}

.logo-nav-link {
   color: #333; /* O cualquier color que prefiera */
   text-decoration: none;
}

.container-musica{
   border: 1px solid black;
   display: flex;
   width: 100%;
   justify-content: center;
   flex-direction: column;

}

.musica-container2{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   gap: 30px;

}

.title-musica{
   text-align: center;
}

.list-musica{
   font-size: 1.5rem;
   display: flex;
   justify-content: center;
   padding-top: 100px;
   padding-bottom: 100px;
   gap:50px;
   text-align: center;
   text-decoration: none;
   list-style: none;
}

.musica-video-container{
   display: grid;
   width: 100%;
   grid-template-columns: 1fr 1fr;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding: 50px 0;
}
.child-video-musica{
   text-align: center;
}

/* ---------------  MUSICA PAGE SECTION -----------------  */

.nav2-container {
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   justify-content: space-between;
   border: 1px solid black;
}

.flex-list2 {
   margin-right: 2rem;
   width: 50%;
   display: flex;
   justify-content: space-between;
   border: 1px solid black;
   margin: 0;
   padding: 0;
}

.nav-list2 {
   list-style: none;
}

.nav-link2 {
   font-size: 34px;
   text-decoration: none;
   color: black;
}

.titulo-musica.colaboraciones{
   display: flex;
   color: black;
   justify-content: center;
   font-size: 1rem;
   font-family: "Inter", sans-serif;
   word-wrap: break-word;
   font-weight: 500;
   text-decoration: none;
}

.titulo-musica{
   display: flex;
   padding-top: 1rem;
   padding-bottom: 1rem;
   color: black;
   justify-content: center;
   font-size: 2rem;
   font-family: "Inter", sans-serif;
   word-wrap: break-word;
   font-weight: 500;
   text-decoration: none;
   background-color: rgb(213, 213, 213);
}


.child-musica{
   display: flex;
   flex-direction: column;
}


/* ---------------  FOTO PAGE SECTION -----------------  */


.titulo-seccion{
   display: flex;
   padding-top: 1rem;
   padding-bottom: 1rem;
   color: black;
   justify-content: center;
   font-size: 2rem;
   font-family: "Inter", sans-serif;
   word-wrap: break-word;
   font-weight: 500;
   text-decoration: none;
   background-color: rgb(213, 213, 213);
   border: 1px black;
}


.gallery-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding-top: 20px;
   /* 2 columnas por defecto */
   gap: 15px;
      /*border: 1px solid black;*/
}

.img-gallery {
   width: 100%;
   height: 100%;
}


.social-container2 {
   display: flex;
   justify-content: flex-end;
   /* Alinea los elementos al final (derecha) */
   width: 100%;
   padding: 50px;
   /* Ajusta el padding según sea necesario */
   border-top: 1px solid black;
   /* Opcional: agrega una línea superior para separar el footer */
}


.social-container2-contacto {
   display: flex;
   justify-content: flex-end;
   /* Alinea los elementos al final (derecha) */

   width: 100%;
   padding: 50px;
   /* Ajusta el padding según sea necesario */
   border-top: 1px solid black;
   /* Opcional: agrega una línea superior para separar el footer */

}


.social-container2 img {
   color: black;
   height: 100%;
   width: 50px;
}


/* ---------------  CINE Y TV SECTION -----------------  */

.cineytv-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
}


.titulo-carrera {  
   display: flex;
   padding-top: 1rem;
   padding-bottom: 1rem;
   color: black;
   justify-content: center;
   font-size: 2rem;
   font-family: "Inter", sans-serif;
   word-wrap: break-word;
   font-weight: 500;
   text-decoration: none;
   background-color: rgb(213, 213, 213);
   border: 1px black;
}

.text-cineytv{
   font-size: 3rem;
   text-align: center;
}

.text-cine-child{
   text-align: center;
}

.list-pgms{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 80px;
   padding: 250px;
   padding-top: 50px;
   padding-bottom: 50px;

}

.image-pgms{
   width: 250px;
   height: auto;
}




/* ---------------  BIO SECTION -----------------  */


.foto-magyar-01 {

}





/* ---------------  CONTACTO PAGE SECTION -----------------  */


.body-contacto{
   height: 100%;
}

.contacto-padre{
   display: flex;
   flex-direction: column;
   gap: 100px;
   align-items: center;
   height: 30vw;
   border: 1px solid black;
}

.formulario-container{
   border: 1px solid black;
   size-adjust: 50%;
}


/* no logro hacerlo andar */
.boton-enviar{border: 5px;

}


.titulo-contacto{
   /*border: 1px solid black;*/
   width: 100%;
   text-align: center;

}

.logo-categorias{
   font-size: 2rem!important;
}




/* ---------------  MEDIA QUERIES RESPONSIVE -----------------  */

/* MEDIA QUERIE Desktop (más de 1300px) */

@media (min-width: 768px) {

   .container {
      height: 1300px;
      background-size: cover;
   }

   .mobile-menu {
      display: none;
   }
}

@media (max-width: 1368px) {

   .musica-video-container{

      grid-template-columns: 1fr ;
   }

}

/* MEDIA QUERIE Mobile (menos de 768px) */
@media (max-width: 768px) {


   .logo{
      font-size: 4rem!important;
      margin: 0!important;
   }

   .nav-container{
      display: flex;
      flex-direction: column;
   }
   .main-container{
      max-width: 100%;
      margin: 0 auto; 
      }

   .musica-video-container{
   grid-template-columns: 1fr ;
   }


   .social-container2 img {
      width: 100%;
      width: 25px; 

   }

   .social-container img {
      display: none;
   }

   .gallery-container {
      grid-template-columns: repeat(1, 1fr);
      /* 2 columnas en tabletas */
   }

   .mobile-menu {
      display: inline-block;
   }

   .logo {
      text-align: center;
      font-size: 1.5rem;
      padding: 10px;
   }

   .nav-link {
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 3rem;
   }

   .nav-link2 {
      display: none;
   }
}


/* Media query para tabletas (768px - 1024px) */
@media (min-width: 720px) and (max-width: 1024px) {
   .gallery-container {
      grid-template-columns: repeat(2, 1fr);
      /* 2 columnas en tabletas */
   }

   .container {
      height: 800px;
      background-size: contain;
   }
}

/* MEDIA QUERIE Tablet (768px - 1024px) */
@media (max-width: 1024px) {
   .gallery-container {
      grid-template-columns: repeat(2, 1fr);
      /* 2 columnas por defecto */
   }

   .container {
      height: 800px;
      background-size: contain;
   }
}

/* MEDIA QUERIE Desktop (más de 1300px) */

@media (min-width: 1300px) {
   .container {
      height: 1300px;
      background-size: cover;
   }
}