@import "utils/mixin";
@import "utils/variables";
@import "global/base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ---------------  HOME PAGE CSS  -----------------  */

.main-home-container {
  height: 100vh;
  width: 100%;
  background-color: black;

  /*  %  - unidades responsivas para las imagenes */
  .imagen-background {
    width: 100%;
    height: 90vh;
    background-image: url("../image/base-index.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    header {
      padding: 0;
      margin: 0;
      div {
        .logo {
          background-color: rgba(
            0,
            0,
            0,
            0.68
          ); /* Fondo negro con 80% de opacidad */
          padding: 20px 0; /* Espaciado superior e inferior */
          color: #e5e5e5;
          font-size: 5rem !important;
          font-family: $font-primary;
          /* Asegúrarse de cargar la fuente */
          text-shadow: 14px 4px 10px grey;
          font-weight: 700;
          word-wrap: break-word;
          /* border: 1px solid white*/
        }
      }
    }

    .menu-inicio {
      background-color: rgba(
        0,
        0,
        0,
        0.38
      ); /* Fondo negro con 80% de opacidad */
      padding: 0px 0; /* Espaciado superior e inferior */
      .side-nav {
        .flex-nav {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          // align-items: center;
          gap: 6;
          /*border: 5px solid white;*/

          text-shadow: 4px 4px 10px grey;

          .nav-list {
            list-style: none;
            margin-right: 3.5rem;

            /*Rem o em para unidades responsivas para los textos 1 rem equivale a 16px*/
            .nav-link {
              font-size: 2.5rem;
              text-decoration: none;
              color: #d1d1d1;
              text-shadow: 2px 2px 5px 10px rgb(182, 182, 182);
            }
          }
        }
      }
    }

    .nav-container {
      padding-top: 4rem;
      padding-right: 4rem;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-items: center;
      /*border: 1px solid white; */

      .div-video-intro {
        display: flex;
        justify-content: end;
        margin-left: 4rem;
        border: 1px solid white;

        .video-intro {
          height: 100%;
          width: 600px;
        }
      }
    }

    .social-container-index {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30%;
      padding: 0;
      margin: 0;
  
        img {
          width: 60px;
        }
    
    }
  }
}

// header {
//   .navbar {
//     border: 1px solid rgb(68, 68, 68);
//     /* Para sacar las vinetas siempre se realiza desde el li - */
//   }
//}

.main-container {
  max-width: 65vw;
  margin: 0 auto;

  /* ---------------  MUSICA PAGE CSS  -----------------  */

  section {
    .titulo-seccion {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: black;
      justify-content: center;
      font-size: 2rem;
      // font-family: $font-primary;
      word-wrap: break-word;
      font-weight: 500;
      text-decoration: none;
      background-color: rgb(213, 213, 213);
      border: 1px black;
    }
  }

  section {
    .titulo-seccion-h3 {
      background-color: rgb(119, 119, 119); /* Grey */
      border: none;
      color: white;
      justify-content: center;
      font-size: 24px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
    }

    .titulo-musica-colaboraciones {
      display: flex;
      color: black;
      justify-content: center;
      font-size: 1rem;
      font-family: $font-tertiary;
      word-wrap: break-word;
      font-weight: 500;
      text-decoration: none;
    }

    article {
      .text-cine-child {
        text-align: center;

        .suscribite-ahora-final {
          background-color: rgb(44, 44, 44); /* Grey */
          border: none;
          color: white;
          padding: 35px;
          margin-top: 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 28px;
        }

        .suscribite-ahora {
          background-color: rgb(42, 42, 42); /* Grey */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }
      }
    }

    article {
      .musica-video-container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 50px 0;
      }
    }

    .newsletter-container {
      padding: 40px 250px;

      .newsletter-subcontainer {
        border: 1px solid black;
        padding: 10px;
      }
    }

    .social-container2 {
      display: flex;
      justify-content: center;
      /* Alinea los elementos al final (derecha) */
      width: 100%;
      padding: 5px;

      /* Ajusta el padding según sea necesario */
      border-top: 1px solid black;
      /* Opcional: agrega una línea superior para separar el footer */
    }

    .footer-foto {
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      color: white;
      background-color: black !important;
    }
  }

  /* ---------------  FOTO PAGE CSS  -----------------  */

  .section-foto-container {
    article {
      .gallery-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 20px;
        /* 2 columnas por defecto */
        gap: 15px;
        /*border: 1px solid black;*/
        width: 100%;
        height: 100%;

        div {
          .img-gallery {
            width: 100%;
            height: 100%;
          }
        }
      }
      .suscribite-ahora-final {
        background-color: rgb(44, 44, 44); /* Grey */
        border: none;
        color: white;
        padding: 35px;
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 28px;
      }
    }
  }

  .newsletter-container {
    padding: 40px 250px;

    .newsletter-subcontainer {
      border: 1px solid black;
      padding: 10px;

      .suscribite-ahora {
        background-color: rgb(42, 42, 42);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    }
  }

  .social-container2 {
    display: flex;
    justify-content: center;
    /* Alinea los elementos al final (derecha) */

    padding: 5px;

    /* Ajusta el padding según sea necesario */
    border-top: 1px solid black;

    color: black;
    height: 100%;
    width: 50px;

    /* Opcional: agrega una línea superior para separar el footer */
  }

  .footer-foto {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: black !important;
  }

  /* ---------------  CINE Y TV PAGE CSS  -----------------  */

  section {
    article {
      div {
        .titulo-seccion {
          display: flex;
          padding-top: 1rem;
          padding-bottom: 1rem;
          color: black;
          justify-content: center;
          font-size: 2rem;
          // font-family: $font-primary;
          word-wrap: break-word;
          font-weight: 500;
          text-decoration: none;
          background-color: rgb(213, 213, 213);
          border: 1px black;
        }
      }

      .titulo-seccion-h3 {
        background-color: rgb(119, 119, 119); /* Grey */
        border: none;
        color: white;
        justify-content: center;
        font-size: 24px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
      }
    }

    article {
      .suscribite-ahora {
        background-color: rgb(42, 42, 42); /* Grey */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    }

    .list-pgms {
      .image-pgms {
        height: auto;
        justify-content: center;
        max-width: 100%;
        border: 15px solid rgb(141, 141, 141);
        width: 250px;
      }
    }
    article {
      .suscribite-ahora {
        background-color: rgb(42, 42, 42); /* Grey */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    }

    article {
      div {
        .titulo-musica-colaboraciones {
          display: flex;
          background-color: rgb(119, 119, 119); /* Grey */
          border: none;
          color: black;
          justify-content: center;
          font-size: 24px;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          font-family: $font-tertiary;
          word-wrap: break-word;
          font-weight: 500;
        }
      }
    }
  }

  /* ---------------  Biografia PAGE SECTION -----------------  */

  section {
    article {
      .titulo-generico {
        .titulo-seccion {
          display: flex;
          padding-top: 1rem;
          padding-bottom: 1rem;
          color: black;
          justify-content: center;
          font-size: 2rem;
          // font-family: $font-primary;
          word-wrap: break-word;
          font-weight: 500;
          text-decoration: none;
          background-color: rgb(213, 213, 213);
          border: 1px black;
        }
      }

      .suscribite-ahora {
        background-color: rgb(42, 42, 42); /* Grey */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

      .foto-magyar-01 {
        display: grid;
        justify-content: center;
        max-width: 100%;
        padding: 50px 50px;
      }
    }
  }
  .foto-magyar-01 {
    display: grid;
    justify-content: center;
    max-width: 100%;
    padding: 50px 50px;
  }

  .suscribite-ahora {
    background-color: rgb(42, 42, 42); /* Grey */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .newsletter-container {
    padding: 40px 250px;

    .newsletter-subcontainer {
      border: 1px solid black;
      padding: 10px;
    }
  }

  .social-container2 {
    display: flex;
    justify-content: center;
    /* Alinea los elementos al final (derecha) */
    width: 100%;
    padding: 5px;

    /* Ajusta el padding según sea necesario */
    border-top: 1px solid black;
    /* Opcional: agrega una línea superior para separar el footer */
  }

  .footer-foto {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: black !important;
  }

  /* CONTACTO : CSS PAGE */

  section {
    article {
      .titulo-generico {
        .titulo-seccion {
          display: flex;
          padding-top: 1rem;
          padding-bottom: 1rem;
          color: black;
          justify-content: center;
          font-size: 2rem;
          // font-family: $font-primary;
          word-wrap: break-word;
          font-weight: 500;
          text-decoration: none;
          background-color: rgb(213, 213, 213);
          border: 1px black;
        }
      }
    }
  }

  .form-contacto-container {
    margin: 0 auto;
    /*border: 1px solid black;*/
    padding-top: 50x;
    .form-subcontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }
  }

  section {
    .social-container2 {
      display: flex;
      justify-content: center;
      /* Alinea los elementos al final (derecha) */
      width: 100%;
      padding: 5px;

      /* Ajusta el padding según sea necesario */
      border-top: 1px solid black;
      /* Opcional: agrega una línea superior para separar el footer */
    }
  }

  .foto-magyar-01 {
    display: grid;
    justify-content: center;
    max-width: 100%;
    padding: 50px 50px;
  }

  .suscribite-ahora {
    background-color: rgb(42, 42, 42); /* Grey */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .newsletter-container {
    padding: 40px 250px;

    .newsletter-subcontainer {
      border: 1px solid black;
      padding: 10px;
    }
  }

  .social-container2 {
    display: flex;
    justify-content: center;
    /* Alinea los elementos al final (derecha) */
    width: 100%;
    padding: 5px;

    /* Ajusta el padding según sea necesario */
    border-top: 1px solid black;
    /* Opcional: agrega una línea superior para separar el footer */
  }

  .footer-foto {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: black !important;
  }
}

// .social-container {
//   margin-left: 50px;
// }

// .social-container img {
//   background-color: black;
// }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: black !important;
  /*border: 1px solid white;*/
}

/* ---------------  FOTO PAGE SECTION -----------------  */

.social-container2 img {
  color: black;
  height: 100%;
  width: 50px;
}

/* ---------------  CINE Y TV SECTION -----------------  */

.list-pgms {
  display: grid;
  background-color: #dadada;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 75px;
  border: 20px solid grey;
}

/* ---------------  CONTACTO PAGE SECTION -----------------  */

.body-contacto {
  height: 100%;
}

.formulario-container {
  border: 1px solid black;
}

.formulario-container form {
  border: 1px solid black;

  /* margin: 0 220px; */
}

.titulo-contacto {
  /*border: 1px solid black;*/
  width: 100%;
  text-align: center;
}

.logo-categorias {
  font-size: 2rem !important;
}

.form-control {
  padding: 20px 0;
}

/* ---------------  MEDIA QUERIES RESPONSIVE -----------------  */

/* MEDIA QUERIE Desktop (más de 1300px) */

@media (min-width: 768px) {
  .container {
    height: 1300px;
    background-size: cover;
  }

  .mobile-menu {
    display: none;
  }
}

@media (max-width: 1368px) {
  .newsletter-container {
    padding: 20px 20px;
  }

  .main-home-container {
    /*  %  - unidades responsivas para las imagenes */
    .imagen-background {
      header {
        padding: 0;
        margin: 0;
        div {
          .logo {
            background-color: rgba(
              0,
              0,
              0,
              0.68
            ); /* Fondo negro con 80% de opacidad */

            font-size: 3rem !important;
          }
        }
      }

      .menu-inicio {
        .side-nav {
          .flex-nav {
            .nav-list {
              margin-right: 0.5rem;

              .nav-link {
                gap: 0 !important;
                font-size: 1.5rem;
              }
            }
          }
        }
      }

      .nav-container {
        padding-top: 4rem;
        padding-right: 4rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        /*border: 1px solid white; */

        .div-video-intro {
          display: flex;
          justify-content: end;
          margin-left: 4rem;
          border: 1px solid white;

          .video-intro {
            height: 100%;
            width: 400px;
          }
        }
      }

      .social-container-index {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30%;
        padding: 0;
        margin: 0;

        img {
          width: 40px;
        }
      }
    }
  }

  .musica-video-container {
    grid-template-columns: 1fr;
  }
}

/* MEDIA QUERIE Mobile (menos de 768px) */
@media (max-width: 768px) {
  .newsletter-container {
    padding: 20px 20px;
  }
  .form-contacto-container {
    padding: 50px;
    border: none;
    margin: 0 20px;
  }
  .logo {
    font-size: 4rem !important;
    margin: 0 !important;
  }

  .main-container {
    max-width: 100%;
    height: 100vh !important;
    margin: 0 auto;
  }

  .musica-video-container {
    grid-template-columns: 1fr;
  }

  .social-container2 img {
    width: 100%;
    width: 25px;
  }

  .social-container img {
    display: none;
  }

  .gallery-container {
    grid-template-columns: repeat(1fr, 1fr);
  }

  .mobile-menu {
    display: inline-block;
  }

  .logo {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
  }

  .nav-link {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 3rem;
  }

  .nav-link2 {
    display: none;
  }
}

/* Media query para tabletas (768px - 1024px) */
@media (max-width: 720px) {
  /* Obras centrado en mobile */

  .titulo-seccion-h3 {
    text-align: center !important;
    width: 100%;
  }

  .carousel {
    display: none !important;
  }

  .gallery-container {
    padding: 0px 15px;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .container {
    height: 800px;
    background-size: contain;
  }
}

/* Media query para tabletas (768px - 1024px) */
@media (min-width: 720px) and (max-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    height: 800px;
    background-size: contain;
  }
}

/* MEDIA QUERIE Tablet (768px - 1024px) */
@media (min-width: 500px) {
  .nav-container {
    display: flex;
    flex-direction: column;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    height: 800px;
    background-size: contain;
  }
}

@media (min-width: 1300px) {
  .container {
    height: 1300px;
    background-size: cover;
  }
}

/* Media querie para mobile ver despues */
@include mobileResponsive("mobile") {
  .titulo-seccion-h3 {
    text-align: center !important;
    width: 100%;
  }

  .carousel {
    display: none !important;
  }

  .gallery-container {
    padding: 0px 15px;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .container {
    height: 800px;
    background-size: contain;
  }
}

/* Media querie para tablet-max (tablet) */
@include mobileResponsive("tablet") {
}

/* Media querie para tablet-max (hasta 1024px aprox) */
@include mobileResponsive("tablet-max") {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    height: 800px;
    background-size: contain;
  }
}

/* Media querie para desktop (más de 1300px aproximadamente) chequear bien */
@include mobileResponsive("desktop") {
  .container {
    height: 1300px;
    background-size: cover;
  }
}
